<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <title>Blurry CRUD MONGO DB NODEJS</title>
  </head>
  <body>
    <section class="bg"></section>
    <!-- Just an image -->
    <div class="loading-text-head">please wait</div>
    <div class="loading-text" id="loading-text">........</div>
    <div class="btn-group" id="btn-group">
      <button type="button" class="btn btn-primary" id="react">React JS</button>
    <button type="submit" class="btn btn-secondary" id="node" >Node JS</button>
    <button type="button" class="btn btn-success"> Django</button>
    <button type="button" class="btn btn-danger"> Flask</button>
    </div>
    <script src="script.js" ></script>
  </body>
</html>